[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
pandas = "*"
pyperclip = "*"
boto3 = "*"
python-dotenv = "*"
pydantic = "*"
psycopg2-binary = "*"


[requires]
python_version = "3.9"